*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

#navbar{ 
  background: #333;
  color: #fff;
}

.container{
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}
.logo a{
  float: left;
  padding: 20px;
  color: #fff;
  text-decoration: none; 
}

#navbar ul {
  list-style: none;
  float: right;
  padding-top: 7px;
}

.navbar-items li {
  float: left;
}

.navbar-items li a {
  color: #fff;
  text-decoration: none; 
  padding: 20px;
  display: block;
  text-align: center;
}

.navbar-items li a:hover,
.navbar-items li a.current{
  background: #444;
  color: #f7c08a;
}

.text-primary {
  color: #f7c08a;
}

p {
  line-height: 1.5em;
  margin: 20px;
  color: #333;
} 

/* Footer */


#main-footer{
  padding: 25px;
  background: #222;
}

#main-footer p{
  text-align: center;
  color: #fff;
}